{:highlights [{:id #uuid "66cc3e7c-cc3c-4a91-83f5-a358a206e278",
               :page 12,
               :position {:bounding {:x1 52,
                                     :y1 171,
                                     :x2 371,
                                     :y2 236,
                                     :width 947.9999999999998,
                                     :height 533.2499999999999},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1724661371704},
               :properties {:color "yellow"}}
              {:id #uuid "66cc3fcf-a53a-4545-9ce7-4a6771695a0a",
               :page 2,
               :position {:bounding {:x1 297,
                                     :y1 83.5,
                                     :x2 568,
                                     :y2 190.5,
                                     :width 748.0000000000001,
                                     :height 420.75000000000006},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1724661710915},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
