{:highlights [{:id #uuid "66bb3798-be24-4850-b831-a1ccf5ae3df5",
               :page 11,
               :position {:bounding {:x1 48.1015625,
                                     :y1 151.2578125,
                                     :x2 761.1884765625,
                                     :y2 189.796875,
                                     :width 814.9999999999998,
                                     :height 611.2499999999999},
                          :rects ({:x1 170.35040283203125,
                                   :y1 151.2578125,
                                   :x2 761.1884765625,
                                   :y2 170.2578125,
                                   :width 814.9999999999998,
                                   :height 611.2499999999999}
                                  {:x1 48.1015625,
                                   :y1 170.796875,
                                   :x2 360.4223937988281,
                                   :y2 189.796875,
                                   :width 814.9999999999998,
                                   :height 611.2499999999999}),
                          :page 11},
               :content {:text "这三类广告形式份额同比分别上升8.2%、15.3%和9.9%。在互联网覆盖领域不断扩宽和疫情限制了时间空间等因素的共同作用下，线上消费生态愈发完"},
               :properties {:color "red"}}
              {:id #uuid "66bb379e-3467-49ca-9af0-39f515de434b",
               :page 12,
               :position {:bounding {:x1 48.078125,
                                     :y1 170.8203125,
                                     :x2 761.1583862304688,
                                     :y2 209.375,
                                     :width 814.9999999999998,
                                     :height 611.2499999999999},
                          :rects ({:x1 278.99432373046875,
                                   :y1 170.8203125,
                                   :x2 761.1583862304688,
                                   :y2 189.8203125,
                                   :width 814.9999999999998,
                                   :height 611.2499999999999}
                                  {:x1 48.078125,
                                   :y1 190.375,
                                   :x2 419.7476501464844,
                                   :y2 209.375,
                                   :width 814.9999999999998,
                                   :height 611.2499999999999}),
                          :page 12},
               :content {:text "广告主的投放份额首次被超越，以15.02%的占比位居第二，且同比份额占比连续三年持续下降，2022年的降速有所回缩，占比逐渐趋于稳定。"},
               :properties {:color "blue"}}
              {:id #uuid "66bb37a5-1669-43ac-a835-ff30551f6a7a",
               :page 12,
               :position {:bounding {:x1 48.078125,
                                     :y1 131.6953125,
                                     :x2 763.1292114257812,
                                     :y2 170.2578125,
                                     :width 814.9999999999998,
                                     :height 611.2499999999999},
                          :rects ({:x1 183.3230438232422,
                                   :y1 131.6953125,
                                   :x2 763.1292114257812,
                                   :y2 150.6953125,
                                   :width 814.9999999999998,
                                   :height 611.2499999999999}
                                  {:x1 48.078125,
                                   :y1 151.2578125,
                                   :x2 374.0802001953125,
                                   :y2 170.2578125,
                                   :width 814.9999999999998,
                                   :height 611.2499999999999}),
                          :page 12},
               :content {:text "OP5总计占比达整体市场规模的67.4%，与去年基本持平，投入指数较高的大行业类别仍集中在IT产品、交通、网络服务、食品饮料和化妆浴室用品类。"},
               :properties {:color "purple"}}
              {:id #uuid "66bb3838-0fe2-42ff-ba9a-75f51be1142e",
               :page 7,
               :position {:bounding {:x1 59.765625,
                                     :y1 212.546875,
                                     :x2 971.4688720703125,
                                     :y2 260.359375,
                                     :width 1012.9999999999999,
                                     :height 759.7499999999999},
                          :rects ({:x1 616.9146118164062,
                                   :y1 212.546875,
                                   :x2 971.4688720703125,
                                   :y2 236.046875,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}
                                  {:x1 59.765625,
                                   :y1 236.859375,
                                   :x2 824.9469604492188,
                                   :y2 260.359375,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}),
                          :page 7},
               :content {:text "。外部环境方面，监管新规保障市场良性竞争。产业层面，元宇宙、NFT、AIGC的火爆为数字经济发展持续注入活力，数字化营销迎来更多想象空间。"},
               :properties {:color "red"}}
              {:id #uuid "66bb3a1b-3467-4a43-b02d-b58c54f77c33",
               :page 16,
               :position {:bounding {:x1 0,
                                     :y1 111.515625,
                                     :x2 1013,
                                     :y2 1529.5,
                                     :width 1012.9999999999999,
                                     :height 759.7499999999999},
                          :rects ({:x1 543.999267578125,
                                   :y1 111.515625,
                                   :x2 895.7631225585938,
                                   :y2 159.015625,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}
                                  {:x1 0,
                                   :y1 769.75,
                                   :x2 1013,
                                   :y2 1529.5,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}),
                          :page 16},
               :content {:text "头部平台下场布局AIGC"},
               :properties {:color "red"}}
              {:id #uuid "66bb3a42-b2e4-411d-82d6-08f90a208eda",
               :page 16,
               :position {:bounding {:x1 243.59375,
                                     :y1 622.75,
                                     :x2 931.936767578125,
                                     :y2 676.5,
                                     :width 1012.9999999999999,
                                     :height 759.7499999999999},
                          :rects ({:x1 472.7351379394531,
                                   :y1 622.75,
                                   :x2 929.0487060546875,
                                   :y2 642.75,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}
                                  {:x1 243.59375,
                                   :y1 639.6328125,
                                   :x2 931.936767578125,
                                   :y2 659.6328125,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}
                                  {:x1 243.59375,
                                   :y1 656.5,
                                   :x2 834.2423706054688,
                                   :y2 676.5,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}),
                          :page 16},
               :content {:text "被认为是“创办 24 年最重要的一次组织变革”。在阿里巴巴集团之下，设立阿里云智能、淘宝天猫商业、本地生活、菜鸟、国际数字商业、大文娱等六大业务集团和多家业务公司，并分别建立各业务集团和业务公司的董事会，实行各业务集团和业务公司董事会领导下的CEO负责制"},
               :properties {:color "purple"}}
              {:id #uuid "66bb3a53-e4d1-4487-9270-ee815ab25e5e",
               :page 17,
               :position {:bounding {:x1 0,
                                     :y1 110.3515625,
                                     :x2 1013,
                                     :y2 1529.5,
                                     :width 1012.9999999999999,
                                     :height 759.7499999999999},
                          :rects ({:x1 59.765625,
                                   :y1 110.3515625,
                                   :x2 712.7095947265625,
                                   :y2 157.8515625,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}
                                  {:x1 0,
                                   :y1 769.75,
                                   :x2 1013,
                                   :y2 1529.5,
                                   :width 1012.9999999999999,
                                   :height 759.7499999999999}),
                          :page 17},
               :content {:text "2022年全球头部广告集团实现不同程度增长"},
               :properties {:color "purple"}}],
 :extra {:page 16}}
