{:highlights [{:id #uuid "66c29a7e-124f-48f5-ac1b-30a3bf0ab051",
               :page 17,
               :position {:bounding {:x1 92.7890625,
                                     :y1 195.671875,
                                     :x2 823.6187133789062,
                                     :y2 225.171875,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 92.7890625,
                                   :y1 195.671875,
                                   :x2 823.6187133789062,
                                   :y2 225.171875,
                                   :width 1013,
                                   :height 569.8125}
                                  {:x1 92.7890625,
                                   :y1 200.171875,
                                   :x2 633.7288818359375,
                                   :y2 221.328125,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 17},
               :content {:text " 青少年应为自己设定清晰的学习目标，例如掌握ChatGPT的基本操作和应用。"},
               :properties {:color "red"}}
              {:id #uuid "66c29a87-7c76-48e7-9d40-1e6ad9068614",
               :page 17,
               :position {:bounding {:x1 461.4139099121094,
                                     :y1 278.6328125,
                                     :x2 871.7359008789062,
                                     :y2 308.1328125,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 461.4139099121094,
                                   :y1 278.6328125,
                                   :x2 871.7359008789062,
                                   :y2 308.1328125,
                                   :width 1013,
                                   :height 569.8125}
                                  {:x1 630.1796875,
                                   :y1 283.1328125,
                                   :x2 681.810302734375,
                                   :y2 304.2890625,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 17},
               :content {:text "青少年可以加深对AIGC工具的理解和应用。"},
               :properties {:color "green"}}
              {:id #uuid "66c29c35-af16-4d3a-9f63-dd8b490e5885",
               :page 14,
               :position {:bounding {:x1 486.06317138671875,
                                     :y1 426.6953125,
                                     :x2 589.5139770507812,
                                     :y2 447.1953125,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 486.06317138671875,
                                   :y1 426.6953125,
                                   :x2 589.5139770507812,
                                   :y2 447.1953125,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 14},
               :content {:text "开发聊天机器人"},
               :properties {:color "yellow"}}
              {:id #uuid "66c29c3f-b74c-4f65-b643-18ae22aa4f6c",
               :page 14,
               :position {:bounding {:x1 725.3799438476562,
                                     :y1 426.6953125,
                                     :x2 873.1546020507812,
                                     :y2 447.1953125,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 725.3799438476562,
                                   :y1 426.6953125,
                                   :x2 873.1546020507812,
                                   :y2 447.1953125,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 14},
               :content {:text "定时间内解决实际问题"},
               :properties {:color "yellow"}}
              {:id #uuid "66c29c44-e0c5-408f-be42-ec32c12737da",
               :page 14,
               :position {:bounding {:x1 695.828125,
                                     :y1 453.3046875,
                                     :x2 806.2244873046875,
                                     :y2 473.8046875,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 695.828125,
                                   :y1 453.3046875,
                                   :x2 806.2244873046875,
                                   :y2 473.8046875,
                                   :width 1013,
                                   :height 569.8125}
                                  {:x1 710.6171875,
                                   :y1 456.3046875,
                                   :x2 747.1795654296875,
                                   :y2 471.1328125,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 14},
               :content {:text "炼AIGC应用能力"},
               :properties {:color "red"}}
              {:id #uuid "66c29c50-eb29-48a6-b52b-88e9809ee62a",
               :page 14,
               :position {:bounding {:x1 695.828125,
                                     :y1 400.078125,
                                     :x2 814.043212890625,
                                     :y2 420.578125,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 695.828125,
                                   :y1 400.078125,
                                   :x2 814.043212890625,
                                   :y2 420.578125,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 14},
               :content {:text "通过参加编程竞赛"},
               :properties {:color "blue"}}
              {:id #uuid "66c29c5b-ccab-43f0-93c3-607306e9a69e",
               :page 14,
               :position {:bounding {:x1 232.0908966064453,
                                     :y1 400.078125,
                                     :x2 342.4296875,
                                     :y2 420.578125,
                                     :width 1013,
                                     :height 569.8125},
                          :rects ({:x1 232.0908966064453,
                                   :y1 400.078125,
                                   :x2 342.4296875,
                                   :y2 420.578125,
                                   :width 1013,
                                   :height 569.8125}
                                  {:x1 291.1328125,
                                   :y1 403.078125,
                                   :x2 327.6951599121094,
                                   :y2 417.90625,
                                   :width 1013,
                                   :height 569.8125}),
                          :page 14},
               :content {:text "参与开源AIGC项"},
               :properties {:color "purple"}}],
 :extra {:page 12}}
